.nav__link--current {
    color: var(--primary-blue-color);

    &::after {
        position: absolute;
        bottom: -1px;
        left: 0;

        display: inline-block;

        content: '';
        width: 100%;
        height: 4px;

        background-color: var(--primary-blue-color);
        border-radius: 2px;

        opacity: 0;
    }
}