.footer {
    background: #2F303A;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    flex-grow: 1;
}

.footer__logo--bottom {
    display: flex;
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;

}

.footer__list .footer__item+.footer__item {
    margin-top: 9px;
}

.footer__address {
    line-height: 1.7;
    color: var(--primary-white-color);
    font-style: normal;
}

.footer__contact {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-blue-color);
    }
}

.footer__logo--bottom,
.footer__contact,
.footer__address {
    text-decoration: none;
}